<h1>Edit one message</h1>

<%= form_for @message, :url => update_message_path(@message), :method => :patch do |f| %>
<%= f.label :title, 'Title'  %>
<%= f.text_field :title %>
<%= f.submit 'Update' %>
<% end %>